<ion-view view-title="Recuperar Senha">
  <ion-content class="padding">
    <Br>
    <img src="img/logo.png" width="60%">
    <Br>
      <h3>Esqueceu sua Senha ?</h3>
      Entre com seu e-mail para enviar-mos um lembrete da sua senha<br>
      <Br>
      <form method="post" ng-submit="lembrarsenha(contactform, formData)" name="contactform" role="form">
      <div class="list" style="padding: 20px;">  
         <label class="item item-input" >
            <i class="ion-android-mail placeholder-icon"></i>
            <input type="text" ng-model="formData.email" placeholder="E-MAIL">
          </label>
 
          <div class="row">
            <div class="col">   
              <button class="button button-block button-positive">
              Enviar
             </button> 
            </div>
             <div class="col"> 
               <button class="button button-block button-stable">
                Cancelar
               </button> 
             </div>
            </div>
      </div>
        
        
  

  </ion-content>
</ion-view>
<div class="bar bar-footer">
   <div class="row">
    <div class="col" style="text-align: left;">
      <a href="#/tab/dash" class="button button-light icon-left button-positive  button-clear">
        <i class="ion-person-stalker"></i> Login
      </a>
    </div>
    
  </div>
 

</div>