 
<ion-view view-title="CALENDÁRIO">
	 
    <ion-nav-buttons side="right">
        <a href="#/tab/areatrabalho/configuracoes" class="button button-icon icon ion-gear-b"></a>
    </ion-nav-buttons>

  <ion-content class="padding">

   <div class="row">
      <div class="col"><a href="#" class="button button-icon icon ion-chevron-left"></a></div>
      <div class="col col-75"><h4>Agosto/2016</h4></div>
      <div class="col"><a href="#" class="button button-icon icon ion-chevron-right"></a></div>
  </div>
   
  <div class="row">
    <div class="col"><b>SEG</b></div>
    <div class="col"><b>TER</b></div>
    <div class="col"><b>QUA</b></div>
    <div class="col"><b>QUI</b></div>
    <div class="col"><b>SEX</b></div>
    <div class="col"><b>SAB</b></div>
    <div class="col"><b>DOM</b></div>
  </div>

    <div class="row">
      <div class="col"></div>
      <div class="col"></div>
      <div class="col"></div>
      <div class="col">1</div>
      <div class="col">2</div>
      <div class="col">3</div>
      <div class="col">4</div>
    </div>

        <div class="row">
      <div class="col">5</div>
      <div class="col">6</div>
      <div class="col">7</div>
      <div class="col">8</div>
      <div class="col">9</div>
      <div class="col">10</div>
      <div class="col">11</div>
    </div>

        <div class="row">
      <div class="col">12</div>
      <div class="col">13</div>
      <div class="col">14</div>
      <div class="col">15</div>
      <div class="col">16</div>
      <div class="col">17</div>
      <div class="col">18</div>
    </div>

        <div class="row">
      <div class="col">19</div>
      <div class="col">20</div>
      <div class="col">21</div>
      <div class="col">22</div>
      <div class="col">23</div>
      <div class="col">24</div>
      <div class="col">25</div>
    </div>

        <div class="row">
      <div class="col">26</div>
      <div class="col">27</div>
      <div class="col">28</div>
      <div class="col">29</div>
      <div class="col"><b>30</b></div>
      <div class="col">31</div>
      <div class="col"></div>
    </div>
    <Br>
    <div class="row">
      <div class="col col-67" style="text-align: left;"><a href="#" class="button button-small button-icon icon ion-calendar">  Hoje <b>04 de Agosto</b></a></div>
      <div class="col col-50"><a href="#" class="button button-small button-icon icon positive icon-right ion-edit"> Notas</a></div>
    </div>
<hr>
    
      <div class="list">
         <a class="item item-icon-left item-icon-right" href="#">
          <i class="icon positive ion-ios-alarm"></i>
           <span class="positive"> 10/08 <b>7:00</b> Despertador </span>
          <i class="icon ion-ios-arrow-forward"></i>
        </a>

        <a class="item item-icon-left item-icon-right" href="#">
          <i class="icon positive ion-beer"></i>
           <span class="positive"> 15/08 <b>19:30</b> HappyHauer Galera </span>
          <i class="icon ion-ios-arrow-forward"></i>
        </a>  

         <a class="item item-icon-left item-icon-right" href="#">
          <i class="icon positive ion-pizza"></i>
           <span class="positive"> 25/08 <b>20:30</b> Jantar Amanda </span>
          <i class="icon ion-ios-arrow-forward"></i>
        </a> 



      </div>

  
     

 
  </ion-content>
</ion-view>
  