 
<ion-view view-title="GRÁFICOS">
	 
    <ion-nav-buttons side="right">
        <a href="#/tab/areatrabalho/configuracoes" class="button button-icon icon ion-gear-b"></a>
    </ion-nav-buttons>

  <ion-content class="padding">

  
     <canvas id="line" class="chart chart-line" data="data"
  labels="labels" legend="true" series="series"
  click="onClick">
</canvas> 
<hr>

 <canvas id="doughnut" class="chart chart-doughnut" data="data2"
  labels="labels2"></canvas> 
<hr>
  <canvas id="radar" class="chart chart-radar" data="data3"
  labels="labels3"></canvas> 

  </ion-content>
</ion-view>
  