 
<ion-view view-title="MEU PERFIL">
	     <ion-nav-buttons side="LEFT">
        <a href="#/tab/areatrabalho" class="button button-icon icon ion-home"></a>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <a href="#/tab/areatrabalho/configuracoes" class="button button-icon icon ion-gear-b"></a>
    </ion-nav-buttons>

  <ion-content class="padding">
  <Br>
   <center>
     <div class="item arredondado-perfil ">
        <img src="img/ic_user.png" width="180px" style="margin-top: -20px; margin-left: -40px;">  
      </div> 
      <h3>{{dadosUser[0].nome}}</h3>
      <p>Paciente</p>
      <i class="ion-ios-location"></i> {{dadosUser[0].cidade}} / {{dadosUser[0].uf}}<br>
      <i class="ion-ios-telephone"></i> {{dadosUser[0].cel}} <br>



      <form method="post" ng-submit="alterarsenha(contactform, formData)" name="contactform" role="form"> 
          <input type="hidden" ng-model="formData.id" value="{{dadosUser[0].id}}">
          <label class="item item-input" >
            <i class="ion-key placeholder-icon"></i>               
            <input type="text" ng-model="formData.senha"  placeholder="{{dadosUser[0].senha}}">
          </label>
          <button type="submit" class="button button-block button-positive">TROCAR SENHA</button>
      </form>
    </center>
    <br> 
 
  </ion-content>
</ion-view>

<div class="bar bar-footer">
   <div class="row">
    <div class="col" style="text-align: left;">
           
    </div>  
  </div> 
</div>
 