t 
<ion-view view-title="MEU PERFIL - Mod2">
	  <ion-nav-buttons side="right">
        <a href="#/tab/areatrabalho" class="button button-icon icon ion-house"></a>
    </ion-nav-buttons> 

    <ion-nav-buttons side="right">
        <a href="#/tab/areatrabalho/configuracoes" class="button button-icon icon ion-gear-b"></a>
    </ion-nav-buttons>

  <ion-content class="padding">
  <Br>
   <center>
    <div class="row">
      <div class="col">
        <div class="item arredondado-perfil2 ">
          <img src="img/mcfly.jpg" width="120px" style="margin-top: -20px; margin-left: -20px;">  
       </div> 
      </div>
      <div class="col col-75">
        <h3>Carla Borba</h3>
        <p>Paciente</p>
        <i class="ion-ios-location"></i> Cachoeira do Sul / RS
      </div>
    </div>

      
        <Br><Br>


      <div class="tabs-striped tabs-color-positive">
        <div class="tabs">
          <a class="tab-item active" href="#">
            <i class="icon ion-chatbubbles"></i>
            Chat
          </a>
          <a class="tab-item" href="#">
            <i class="icon ion-email-unread"></i>
            Mensagens
          </a>
          <a class="tab-item" href="#">
            <i class="icon ion-ios-game-controller-b-outline"></i>
            Jogos
          </a>
          <a class="tab-item" href="#">
            <i class="icon ion-ios-bell"></i>
            Avisos
          </a>
        </div>
      </div> 

    
  </ion-content>
</ion-view>


 