<ion-view view-title="ÁREA DE TRABALHO">
 <ion-nav-buttons side="right">
        <a href="#/tab/areatrabalho/configuracoes" class="button button-icon icon ion-gear-b"></a>
    </ion-nav-buttons>
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-avatar">
        <img src="img/ic_user.png">
        <h2>{{dadosUser[0].nome}}</h2>
        <p>Paciente<Br><i class="ion-ios-location"></i> {{dadosUser[0].cidade}} / RS </p>       
      </div> 
    </div>
    
    <div class="list">



      <a href="#/tab/areatrabalho/perfil" class="item item-icon-left item-icon-right">
        <i class="icon positive ion-levels"></i>
        Ver Meu Perfil
        <i class="icon positive ion-chevron-right"></i>
      </a>

      <a href="#/tab/areatrabalho/mensagens" class="item item-icon-left item-icon-right" href="#">
        <i class="icon positive ion-android-mail"></i>
        Publicações / Receitas
        <span class="badge positive badge-assertive">5</span> 
      </a>

       <!--

      <a class="item item-icon-left item-icon-right" href="#/tab/areatrabalho/timeline">
        <i class="icon positive ion-ios-timer"></i>
        Estatísticas
        <i class="icon positive ion-chevron-right"></i>
      </a>
 
      <a class="item item-icon-left item-icon-right" href="#/tab/areatrabalho/calendario">
        <i class="icon positive ion-calendar"></i>
        Agendamentos 
        <i class="icon positive ion-chevron-right"></i>
      </a> 
      -->
      <a href="#/tab/areatrabalho/chat" class="item item-icon-left item-icon-right" href="#">
        <i class="icon positive ion-chatbubbles"></i>
        Chat On-line 
        <i class="icon positive ion-chevron-right"></i>
      </a>

     
 
    </div>      


 <ion-slide-box class="center" auto-play="true" does-continue="true">
                <ion-slide ng-repeat="dica in dicadia">
                     
               <div class="box" style="width:350px;">
        <div class="item">     
          <h2> {{dica.tema}}</h2>
          <p>{{dica.titulo}}</p>
        </div>
        <div class="item item-body">
          <img class="full-image" src="http://www.nutrivirtual.com.br/fotos/msg_boasvindas/{{dica.id}}_0.jpg">
          <p>
            {{dica.texto}}
          </p> 
        </div>
      </div>
               </div>
                </ion-slide>
            </ion-slide-box>



  
   
    <Br><Br>
  </ion-content>
</ion-view>

 