 
<ion-view view-title="DICAS">
	  <ion-nav-buttons side="LEFT">
        <a href="#/tab/areatrabalho" class="button button-icon icon ion-home"></a>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <a href="#/tab/areatrabalho/configuracoes" class="button button-icon icon ion-gear-b"></a>
    </ion-nav-buttons>
   <div class="tabs-striped tabs-top tabs-background-positive tabs-color-light">
    <div class="tabs tabs-icon-top">
      <a class="tab-item active" href="#/tab/areatrabalho/mensagens">
        <i class="icon ion-thumbsup"></i>
       RECEITAS
      </a>
      <a class="tab-item" href="#/tab/areatrabalho/receitas">
        <i class="icon ion-ios-bookmarks"></i>
        DICAS
      </a>
      <a class="tab-item" href="#/tab/areatrabalho/curiosidades">
        <i class="icon ion-ios-lightbulb"></i>
        CURIOSIDADES
      </a>
    </div>
  </div>
  <ion-content>
  <Br><Br>

    <div class="list card" ng-repeat="mensagem in mensagens ">

  <div class="item item">
    <h2>{{mensagem.titulo}}</h2>
    <p> </p>
  </div>

  <div class="item item-body">
    <img class="full-image" src="http://www.nutrivirtual.com.br/fotos/dicasreceitas/{{mensagem.id}}_0.jpg">
     
    <p ng-bind-html="mensagem.texto"></p>
    
  </div>

</div>
 



   
  </ion-content>
</ion-view>
  