<ion-view view-title="ÁREA DE TRABALHO - MOD2">

 <ion-nav-buttons side="right">
        <a href="#/tab/areatrabalho/configuracoes" class="button button-icon icon ion-gear-b"></a>
    </ion-nav-buttons>

  <ion-content class="padding">

    <div class="list">
      <div class="item item-input-inset">
        <label class="item-input-wrapper">
          <input type="text" placeholder="Pesquise">
        </label> 
        <a class="button button-small  button-icon icon ion-search positive "></a>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <a class="button button-large arredondado button-icon icon ion-levels positive "></a>
        <p class="dark">Editar Perfil</p>
      </div>
      <div class="col">
        <a class="button button-large arredondado button-icon icon ion-android-mail positive "></a>
        <p class="dark">Mensagens</p>
      </div>
      <div class="col">
        <a href="#/tab/areatrabalho/timeline" class="button button-large arredondado button-icon icon  ion-ios-timer positive "></a>
        <p class="dark">Time LIne</p>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <a href="#/tab/areatrabalho/calendario" class="button button-large arredondado button-icon icon ion-calendar positive "></a>
        <p class="dark">Calendário</p>
      </div>
      <div class="col">
        <a href="#/tab/areatrabalho/temperatura" class="button button-large arredondado button-icon icon ion-umbrella positive "></a>
        <p class="dark">Temperatura </p>
      </div>
      <div class="col">
        <a class="button button-large arredondado button-icon icon  ion-images positive "></a>
        <p class="dark">Galeria</p>
      </div>
    </div>

        <div class="row">
      <div class="col">
        <a class="button button-large arredondado button-icon icon ion-chatbubbles positive "></a>
        <p class="dark">Chat</p>
      </div>
      <div class="col">
        <a class="button button-large arredondado button-icon icon ion-trash-b positive "></a>
        <p class="dark">Lixeira</p>
      </div> 
      <div class="col">
        <a class="button button-large arredondado button-icon icon ion-ios-musical-notes positive "></a>
        <p class="dark">PlayList</p>
      </div>
    </div>

     
</ion-view>

<div class="bar bar-footer">
   <div class="row">
    <div class="col" style="text-align: left;">
      <a href="#/tab/areatrabalho" class="button button-small button-positive">
          <i class="ion-android-arrow-dropleft"> Modelo 1 </i>
        </a>    
    </div> 
    <div class="col" style="text-align: right;">     
    </div> 
  </div> 
</div>