 
<ion-view view-title="TEMPERATURA">
	 
    <ion-nav-buttons side="right">
        <a href="#/tab/areatrabalho/configuracoes" class="button button-icon icon ion-gear-b"></a>
    </ion-nav-buttons>

  <ion-content class="padding">

  <center>

  {{datahoje}}<Br>
  <i class="icon positive ion-ios-location"></i> <span class="positive"> <b>São Paulo - SP - Brasil</b> </span> <br>
  <Br>

   <img src="img/temperatura_icon1.png" width="30%">
   <Br><Br> <Br> <Br>  
    <h7> 27°</h7>
    <Br> <Br> 
   <span class="positive"><b>Tempo chuvoso<br>com nuvens</b></span>
   


   <div class="row">
      <div class="col"> 
        <i class="wi wi-cloudy-gusts"></i> <br>Sensação<br> <span class="positive"><b>13º</b></span>
      </div>
      <div class="col"> 
        <i class="wi wi-umbrella"></i> <br>Umidade<br> <span class="positive"><b>33%</b></span>
      </div>
      <div class="col"> 
      <i class="wi wi-strong-wind"></i> <br>Vento<br> <span class="positive"><b>41mph</b></span>  
      </div>
   </div>

    <div class="row">
      <div class="col"> 
        <b>DOM</b><br>
        <i class="wi wi-day-sunny"></i> <br> <span class="positive"><b>23°</b></span> <bR> 27°
      </div>
      <div class="col"> 
        <b>SEG</b><br>
        <i class="wi wi-day-cloudy"></i> <br> <span class="positive"><b>23°</b></span> <bR> 27°
      </div>
      <div class="col"> 
        <b>TER</b><br>
        <i class="wi wi-day-cloudy-windy"></i> <br>  <span class="positive"><b>23°</b></span> <bR> 27°
      </div>
      <div class="col"> 
        <b>QUA</b><br>
        <i class="wi wi-day-sunny"></i> <br> <span class="positive"><b>23°</b></span> <bR> 27°
      </div>
      <div class="col"> 
        <b>QUI</b><br>
        <i class="wi wi-day-sunny"></i> <br> <span class="positive"><b>23°</b></span> <bR> 27°
      </div>
      <div class="col"> 
        <b>SEX</b><br>
        <i class="wi wi-day-cloudy"></i> <br> <span class="positive"><b>23°</b></span> <bR> 27°
      </div>
      <div class="col"> 
        <b>SAB</b><br>
        <i class="wi wi-day-hail"></i> <br> <span class="positive"><b>23°</b></span> <bR> 27°
      </div>
   </div>

  </ion-content>
</ion-view>
  