<ion-view view-title="CHAVEADO">
  <ion-content class="padding">
   
 
  <Br><Br>
   <img src="img/img_trancado.png" width="60%">
  <h3>Marty McFly</h3>
 
      <div class="list" style="padding: 20px;">
        
          <label class="item item-input" >
            <i class="ion-key placeholder-icon"></i>
            <input type="text" placeholder="SENHA">
          </label>

          <a href="#/tab/areatrabalho" class="button button-block button-positive">
            LOGAR-SE
          </a> 
        <Br><Br>
        <a href="#/tab/dash/ajuda" class="button button-light icon-right button-positive  button-clear">
          <i class="ion-help-buoy"></i> Ajuda 
        </a>
      </div>
        
        
  

  </ion-content>
</ion-view>
 