<ion-view view-title="Sobre a Nutrivirtual">
  <ion-content class="padding">
    <Br>
    <img src="img/logo.png" width="60%">
    <Br>
      <h3>O que é a NUTRIVIRTUAL ?</h3>
      A NUTRIVIRTUAL é administrado por Carla Borba, nutricionista formada pela Universidade Federal de Pelotas - UFPEL, no ano 2003.<br>
      <br>
Foi criado com a intenção de proporcionar mais conforto, praticidade à todos aqueles que necessitam de um programa de reeducação alimentar,tratar ou prevenir inúmeras patologias,bem como  emagrecimento ou ganho de peso.<br>
      <br>
Tratamento personalizado, feito sob medida para cada paciente, com conversas diárias para retirada de dúvidas ou com caráter motivacional,  encontro em grupo feito uma vez por semana, através de chat, troca de experiências, receitas variadas, dicas, loja com produtos indicados na dieta, curiosidades apartir de pesquisas científicas.
      <br>
Um espaço onde você pode encontrar tudo que precisa para realizar seu tratamento sem precisar sair de casa.
      <Br>
      Este aplicativo é uma extensão do site de tratamento <a href="http://www.nutrivirtual.com.br">www.nutrivirtual.com.br</a>.<br>
      <b>Você não esta sozinho, cadastre-se e experimente nosso método de tratamento</b>.
 
        
        <br><br><br><br><br><br>  
  

  </ion-content>
  <div class="bar bar-footer">
       <div class="col" style="text-align: left;">
      <a href="#/tab/dash/cadastrarse" class="button button-light icon-left button-positive  button-clear">
        <i class="ion-android-open"></i> Cadastrar-se
      </a>
    </div>
</div>
</ion-view>
